NEXT_PUBLIC_DEV_ADMIN=true
DEV_ADMIN_ALLOW_LNBITS_BASE_URLS=http://lnbits:5000,http://localhost:5000,http://localhost:18090,http://localhost:18085
NEXT_PUBLIC_FAP_PUBLIC_BASE_URL=http://localhost:18081
NEXT_PUBLIC_DEV_ADMIN_DEFAULT_LNBITS_BASE_URL=http://lnbits:5000
